* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  font-family: "Poppins", sans-serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #262626;
}

button {
  text-decoration: none;
  border: none;
  background-color: white;
}

@font-face{
  font-family: "proxima-nova";
  src: url(../images/font/Proxima\ Nova\ Regular.otf);
}

.container {
  margin: 0 auto;
  max-width: 1310px;
}

.flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.align-self {
  align-self: flex-end;
}

.aling-center {
  display: flex;
  align-items: center;
}

.top-header {
  padding: 35px 0 10px;
  border-bottom: 2px solid #fafafb;
  font-size: 20px;
  line-height: 24px;
}

.choices {
  border: none;
  font-size: 20px;
  cursor: pointer;
}

.personal-info {
  gap: 20px;
}

.profile {
  position: relative;
  margin-right: 85px;
}

.profile::after {
  content: "";
  position: absolute;
  background-image: url(../images/header-images/basket.png);
  width: 76px;
  height: 40px;
  bottom: 2px;
}
.price {
  opacity: 50%;
}

.main-header {
  padding: 20px 0 25px;
}

.logo-text {
  font-family: Poppins;
  font-size: 18px;
  font-weight: 700;
  line-height: 27px;
  padding-left: 5px;
}

.header-ul {
  font-size: 24px;
  font-weight: 500;
  line-height: 36px;
  gap: 98px;
}

.categorys {
  width: 1029px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  padding: 45px;
  border-top: 2px solid #f1f3f4;
  background-color: #ffffff;
  left: 266px;
  margin-top: 50px;
  display: none;
}

.cuts {
  top: -100px;
}

.category {
  padding-top: 20px;
}

.first-li {
  padding: 15px 0;
}

.first-li:hover .categorys {
  display: inline-flex;
}

.primary-blue {
  color: #40bfff;
}

.hover:hover {
  color: #40bfff;
}

.active {
  color: #40bfff;
}


.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.capitalize{
  text-transform: capitalize;
}

.search {
  display: flex;
  justify-content: center;
  margin: 100px 0 70px;
}

.form {
  border: 2px solid #bcddfe;
  border-radius: 5px;
}

.search-query {
  border: none;

  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  opacity: 35%;
  padding: 22px 270px 18px 20px;
  outline: none;
}

.submit {
  font-size: 20px;
  font-weight: 600;
  line-height: 29px;
  background-color: #40bfff;
  color: #ffffff;
  border: none;
  padding: 19px 30px;
  cursor: pointer;
  margin: -2px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.submit:hover {
  background-color: #21b2fa;
}



.ecomm {
  background-color: #bcddfe;
  padding: 165px 0 54px;
}

.adress {
  padding-right: 200px;
  padding-left: 25px;
}

.footer-paragraph {
  max-width: 330px;
  padding-top: 10px;
}

.contact-follow {
  margin-top: 20px;
}
.follow {
  max-width: 198px;
  font-size: 12px;
  line-height: 15px;
  padding: 22px 0;
}

.twitter {
  margin-left: 30px;
}

.contact {
  max-width: 150px;
  font-size: 14px;
  line-height: 21px;
  padding-top: 20px;
}

.more {
  padding: 70px 60px 70px 25px;
}

.more-title {
  font-size: 18px;
}

.footer-ul {
  font-size: 14px;
  line-height: 21px;
  padding-top: 20px;
}

.navigation {
  padding: 69px 60px 60px 30px;
}

.main-footer {
  border-top: 2px solid #f6f7f8;
  padding-top: 20px;
}

.adress-web {
  font-size: 14px;
  line-height: 17px;
  color: #c1c8ce;
}